<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid style="padding-top: 40%;">
    <ion-row>
      <ion-col>
        <ion-label>
          <p style="text-align: center; font-weight: bold; font-size: 24px; color: white;">Write a Nugget of your Life
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input 
          style="background-color: white; border-color: #EAB536; border-radius: 10px; color: #EAB536; padding-left: 5px;"
          [(ngModel)]="input_t" placeholder="Title" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> 
        <textarea cols="40" rows="5"
          style="background-color: white; border-color: #EAB536; border-radius: 10px; color: #EAB536; margin-right: 20px; height: 100px;"
          [(ngModel)]="input_d" placeholder="Description" type="string"></textarea>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-input text-center
          style="background-color: white; border-color: #EAB536; border-radius: 10px; color: #EAB536; margin-right: 20px; height: 100px;"
          [(ngModel)]="input_d" placeholder="  Description" type="string"></ion-input>
      </ion-col>
    </ion-row>  -->
    <ion-row>
      <ion-col> 
        <ion-button color="warning" (click)="onPressSave(input_t, input_d)">Save</ion-button>
      </ion-col> 
    </ion-row>
  </ion-grid>

</ion-content>