<ion-header [translucent]="true">

</ion-header>

<ion-content fullscreen > 
  <div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button>
        <img src="../../assets/btn-write.png" style="display: contain;">
      </ion-fab-button>
    </ion-fab>
  </div>

  
  <!-- <ion-img width="100%" height="100%" src="../../assets/bg-white.png"></ion-img> -->
  <!-- <img src=“../../assets/bg-white.png”> -->
  <!-- <ion-img [src]="url(../../assets/bg-white.png)"></ion-img> -->
  <!-- <div id="bg-white">
    <p>hi</p>
  </div>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
