<ion-header [translucent]="true">

</ion-header>

<ion-content fullscreen style="margin-top: 50%;">

  <div class="myblock">
    <ion-item-sliding *ngFor="let n of NuggetsModel?.slice().reverse()" button class="slide" >

      <ion-item>
        <ion-grid>
          <ion-row no-padding>
            <p style="font-size: 8px; color: #BBC1C9;"><span>{{n.dateTaken | date: 'EEE dd MMMM yyyy, h:mm a'}}</span>
            </p>
          </ion-row>
          <ion-row no-padding  >
            <p style="font-size: 18px; color:#E6AC45">{{n.title}}</p> 
          </ion-row> 
          
          <ion-row no-padding >
            <p style="font-size: 14px; color: #416AA0">{{n.description}}</p>
          </ion-row> 
        </ion-grid>
      </ion-item> 

      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteNugget(n)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>

  <div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button [routerLink]="['../write-nugget']">
        <img src="../../assets/btn-write.png" style="display: contain;">
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>